.titulo-menu {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    justify-content: left;
    text-align: start;
    margin-top: 0px;
}

.p {
    width: 450px;
}

/* .titulos {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    justify-content: left;
    text-align: start;
    margin-top: 0px;
} */

.comida-central {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    justify-content: left;
    text-align: center;
    margin-top: 0px;
    padding: 30px;
    border-radius: 36% 64% 54% 46% / 24% 30% 70% 76%;
    background-color: wheat;
}

.comida-central p {
    width: 600px;
    justify-content: center;

}

.container {
    background-color: white;
}

.direita {
    text-align: right;
    justify-content: right;

}

.pe {
    text-align: end;
    justify-content: end;
    align-items: flex-end;
}