.titulo-menu {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    justify-content: left;
    text-align: start;
    margin-top: 0px;

}

.coffee {
    font-weight: 550;
}

.p {
    width: 450px;
}

/* .titulos {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    justify-content: left;
    text-align: start;
    margin-top: 0px;
} */

.comida-central {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    justify-content: left;
    text-align: center;
    margin-top: 0px;
    padding: 30px;
    border-radius: 36% 64% 54% 46% / 24% 30% 70% 76%;
    background-color: rgb(248, 207, 132);
}

.comida-central p {
    width: 600px;
    justify-content: center;

}

.container {
    background-color: white;
}

.direita {
    text-align: right;
    justify-content: right;

}

.pe {
    text-align: end;
    justify-content: end;
    align-items: flex-end;
}

.valor {
    font-size: 15px;
    font-weight: 900;
}

#apresentacao {
    padding-top: 25px; 
    justify-content: center;
    align-items: center;

}

.quemsou {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
}

img {
    max-width: 100%;
    height: auto;

}

